@model DataModel.Sys_ButtonModel
<div class="form-horizontal container">
    @Html.TextBoxFor(Model => Model.cid, new { @class = "hidden" })
    @Html.TextBoxFor(Model => Model.ctime, new { @class = "hidden" })
    @Html.TextBoxFor(Model => Model.btnId, new { @class = "hidden" })
    <div class="form-group">
        <label class="col-sm-2 control-label">名称</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(Model => Model.btnName, new { @class = "form-control", @placeholder = "按钮名称" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">操作方法</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(Model => Model.func, new { @class = "form-control", @placeholder = "操作方法" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">排序权重</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(Model => Model.sort, new { @class = "form-control", @placeholder = "排序权重" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">状态</label>
        <div class="col-sm-10">
            @Html.CheckBoxFor(Model => Model.enable, new { @class = "flat-red", @style = "margin-top: 10px;" })
            @*<input type="password" class="form-control" id="inputPassword3" placeholder="执行方法">*@
        </div>
    </div>
</div>
<script>
    function Save() {
        SaveModal(oTable);
    }
</script>